body {
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
}

#divdroit {
    position: absolute;
    top:0.5px;
    left:0.5px;
}

.chat-container {
    width: 100%;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 10px;
    background-color: lightcoral;
    text-align: center;
    flex-shrink: 0;
}

.chat-messages {
    flex: 1;
    padding: 10px;
}

.message {
    margin: 10px;
    display: flex;
}

.message.sent {
    justify-content: flex-end;
}

.message-content {
    max-width:70%;
    padding:10px;
    border-radius:10px;
    background-color: #e1ffc7;
}

.message.sent .message-content {
    background-color: #007bff;
    color: white;
}

.message.received{
    justify-content: flex-start;
}

.chat-input {
    padding: 10px;
    display: flex;
}

.chat-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: lightcoral;
    color: black;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: coral;
}